<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Javascript Destructring</h1>
  <h2>Array Destructring</h2>
  <p id="demo1"></p>
  <p id="fruits"></p>
  <h3>Moving some of array values into single values</h3>
  <p id="fruit"></p>
  <h2>Object Destructring</h2>
  <p id="demo"></p>
  <div>
    <p id="name"></p>
    <p id="age"></p>
    <p id="hiking"></p>
    <p id="city"></p>
  </div>
  <script src="es6destructuring.js">
  
  </script>
</body>
</html>